@import '../../define';

.forager-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // $rect-width: 1px;
  // $rect-gap: 24px;
  // background-image: linear-gradient(
  //     $gray-200 $rect-width,
  //     transparent $rect-width
  //   ),
  //   linear-gradient(to right, $gray-200 $rect-width, white $rect-width);
  // background-size: $rect-gap $rect-gap;
}

.forager {
  border: 1px solid $gray-light-border;
  background: $gray-light-background;
  border-radius: $border-radius;
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.03),
    0px 0px 10px hsla(0, 0%, 0%, 0.05);

  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  height: $header-height;
  border-bottom: 1px solid $gray-light-border;
  padding: 0px $panel-h-padding;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $gray-800;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .logo-icon {
    font-size: 1.1rem;
    font-weight: 600;
    color: $gray-50;
  }

  .logo-tag {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-300;
    margin-left: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.sunburst {
  width: $sunburst-width;
  height: $sunburst-width;
}

.sidebar {
  position: absolute;
  right: 0px;
  top: $header-height;
  transform: translateX(calc(100% - 2px));

  // clip-path: inset(0px 0px 0px -15px);
  box-shadow: -1px 0px 6px 0px hsla(0, 0%, 0%, 0.1);
  border-radius: $border-radius;
}
