@import '../../define';

.forager {
  border: 1px solid $gray-light-border;
  background: $gray-light-background;
  border-radius: $border-radius;
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.03),
    0px 0px 10px hsla(0, 0%, 0%, 0.05);

  position: relative;
}

.header {
  height: $header-height;
  border-bottom: 1px solid $gray-light-border;
  padding: 0px $panel-h-padding;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: $gray-800;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .logo-icon {
    font-size: 1.1rem;
    font-weight: 600;
    color: $gray-50;
  }

  .logo-tag {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-400;
    margin-left: 8px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.sunburst {
  width: $sunburst-width;
  height: $sunburst-width;
}

.sidebar {
  position: absolute;
  right: 0px;
  top: $header-height;
  transform: translateX(calc(100% - 2px));

  // clip-path: inset(0px 0px 0px -15px);
  box-shadow: -1px 0px 6px 0px hsla(0, 0%, 0%, 0.1);

  border-radius: $border-radius;
  // border-bottom-right-radius: $border-radius;
  // border-top-right-radius: $border-radius;

  border: 1px solid $gray-light-border;
  background-color: $gray-light-background;
}
