.ipynb_checkpoints
.vscode
dataset
/node_modules/
/public/build/
package-lock.json
pnpm-lock.yaml
.DS_Store
*.swp

.vercel
deploy-gh-page.sh
publish.sh
publish*
dist
gh-page
lite

token.json

notebook-widget/timbertrek/data.json
notebook-widget/timbertrek/*.ipynb
notebook-widget/timbertrek/*.html
notebook-widget/timbertrek/timbertrek.js