@import '../../define';

.dropzone-tab {
  display: flex;
  flex-direction: column;
  background-color: $gray-light-background;
  padding: 12px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.dropzone {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed hsla(0, 0%, 86%, 1);
  border-radius: 3px;
  transition: border 300ms ease-in-out;
  padding: 0 10px;
  gap: 18px;

  &.drag-over {
    border: 3px dashed $blue-300;
  }

  .svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: fill;
    opacity: 0.2;
    margin-bottom: 20px;
    animation: circling 50000ms linear 0ms infinite;

    :global(svg) {
      height: 9rem;
    }
  }
}

.drop-message {
  text-align: center;
  color: hsl(0, 0%, 50%);
  cursor: default;
}

.help-message {
  text-align: center;
  font-size: 0.9em;
  color: hsl(0, 0%, 50%);
  padding: 2px 8px;
  background: change-color($blue-800, $alpha: 0.1);
  border-radius: 5px;

  &:hover {
    background: change-color($blue-800, $alpha: 0.2);

    a {
      text-decoration: none;
    }
  }

  a {
    font-style: italic;
    color: hsl(0, 0%, 35%);
  }
}

.error-message {
  font-size: 0.9em;
  color: hsl(0, 50%, 56%);
  text-align: center;
  white-space: pre-wrap;
}

@keyframes circling {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
