@import '../../define.scss';

$header-color: currentcolor;

.article {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns:
    [start] 1fr [long-start] calc((1000px - 78ch) / 2)
    [text-start] minmax(auto, 78ch) [text-end] calc((1000px - 78ch) / 2) [long-end] 1fr [end];
  color: $gray-800;
}

.article h2 {
  color: $header-color;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 24px;
  border-bottom: 1px solid #eaecef;
  grid-column: text-start / text-end;

  display: flex;
  // justify-content: space-between;
}

.article h4 {
  color: $header-color;
  font-size: 32px;
  font-weight: 450;
  margin-bottom: 0;
  margin-top: 16px;
  grid-column: text-start / text-end;
  line-height: 1.3;
}

// .article h6 {
//   color: $header-color;
//   font-size: 24px;
//   font-weight: 450;
//   margin-bottom: 8px;
//   margin-top: 44px;
//   grid-column: text-start / text-end;
// }

.article p {
  margin: 16px 0 0 0;
  grid-column: text-start / text-end;
}

.article p img {
  vertical-align: middle;
}

.article .figure-caption {
  font-size: 13px;
  margin-top: 9px;
  padding: 0 5px;
  color: $gray-600;
}

// .article ol {
//   margin-left: 0px;
//   grid-column: text-start / text-end;
// }

.article p,
.article div,
.article li {
  font-size: 17px;
  line-height: 1.6;
}

.article small {
  font-size: 12px;
}

.article ol li img {
  vertical-align: middle;
}

.article .video-link {
  color: $blue-700;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    color: adjust-color($color: $blue-700, $lightness: -20%);
  }
}

.article ul {
  list-style-type: disc;
  margin-top: -10px;
  margin-left: 40px;
  margin-bottom: 15px;
  grid-column: text-start / text-end;
}

:global(.article a) {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.4);

  &:visited {
    color: currentColor;
  }

  &:hover {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.8);
  }
}

.article .video-link:hover {
  text-decoration-color: $gray-900;
}

.article :global(code),
.article :global(pre) {
  font-family: SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo,
    monospace;
}

.article :global(code) {
  padding: 0.2em 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: $gray-100;
  color: $pink-600;
  border-radius: 3px;
  font-weight: 600;
}

.article :global(kbd) {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .paper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   margin-top: 30px;
// }

// .paper-image {
//   height: 100%;
//   border-radius: 5px;
//   border: 2px solid hsla(0, 0%, 90%, 1);
//   margin-right: 15px;

//   img {
//     height: 110px;
//   }

//   &:hover {
//     box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.1);
//   }
// }

// .paper-info__title {
//   font-weight: 500;

//   a {
//     color: #444;
//   }
// }

// .paper-info {
//   display: flex;
//   flex-direction: column;
// }

// .important-note {
//   border-left: 0.2rem solid $teal-600;
//   border-radius: 0.2rem;
//   box-shadow: 0 0.2rem 0.5rem hsla(0, 0%, 0%, 0.05),
//     0 0 0.0625rem hsla(0, 0%, 0%, 0.1);
//   padding: 0 0.5rem 0.5rem;
//   grid-column: text-start / text-end;
//   margin: 15px 0;

//   .title {
//     background-color: $teal-50;
//     font-weight: 600;
//     margin: 0 -0.5rem 0.5rem;
//     padding: 0.5rem 0.5rem 0.5rem 1rem;
//     border-top-right-radius: 0.2rem;
//   }

//   p.content {
//     margin: 5px 0;
//     padding-left: 0.5rem;
//   }
// }

video {
  width: 100%;
  grid-column: text-start / text-end;

  box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.2), 0px 2px 8px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;

  // &.wide-video {
  //   grid-column: long-start / long-end;
  // }
}

.video {
  width: 100%;
  grid-column: text-start / text-end;
  margin: 16px 0 0 0;
  padding: 5px 0;

  &.wide-video {
    grid-column: long-start / long-end;
  }
}

.article .video-list {
  grid-column: text-start / text-end;
  margin: 0 0 15px 0;
}

.article .youtube-video {
  grid-column: text-start / text-end;
}

.svg-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: currentColor;
  position: relative;

  :global(svg) {
    width: 40px;
    height: 40px;
  }

  &.logo-icon {
    margin-left: 12px;
    transform: rotate(0deg);
    animation: circling 3000ms linear 0ms infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    &:hover {
      animation-play-state: running;
    }
  }

  &.note-icon {
    transform: translateY(2px);
    :global(svg) {
      width: 16px;
      height: 16px;
    }
  }
}

.jupyter-demo {
  grid-column: long-start / long-end;
  margin-top: 24px;
  height: 800px;

  iframe {
    border: 1px solid $gray-400;
    border-radius: 5px;

    // &.no-display {
    //   visibility: hidden;
    // }
  }

  .demo-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    border-radius: 5px;
    border: 1px solid $gray-500;

    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 0%, 0.5);
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      filter: grayscale(0.75);
      pointer-events: none;
    }

    $button-base-color: $orange-700;
    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      font-size: $font-u2;
      font-weight: 600;

      padding: 4px 12px;
      border-radius: 8px;
      border: 1px solid
        adjust-color($color: $button-base-color, $lightness: -3%);
      background-color: $button-base-color;
      color: $gray-light-background;
      box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.4),
        0 4px 20px 0 hsla(0, 0%, 0%, 0.1);

      transition: background-color 150ms $ease-cubic-in-out,
        box-shadow 150ms $ease-cubic-in-out, border 150ms $ease-cubic-in-out;

      display: flex;
      gap: 7px;

      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;

      .svg-icon {
        :global(svg) {
          width: $font-u2;
          height: $font-u2;
        }
      }

      &:hover {
        background-color: adjust-color(
          $color: $button-base-color,
          $lightness: -4%
        );
        box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.2),
          0 4px 20px 0 hsla(0, 0%, 0%, 0.1);
        border: 1px solid
          adjust-color($color: $button-base-color, $lightness: -8%);
      }

      &:active {
        background-color: adjust-color(
          $color: $button-base-color,
          $lightness: -10%
        );
        box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, 0.2),
          0 4px 20px 0 hsla(0, 0%, 0%, 0.1);
        border: 1px solid
          adjust-color($color: $button-base-color, $lightness: -15%);
      }
    }
  }
}

:global(.feature-tag) {
  border-radius: 3px;
  font-weight: 600;
}

.tool-name {
  font-variant: small-caps;
  margin-left: 8px;
}

.paper-info {
  margin: 20px 0;
  grid-column: text-start / text-end;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;

  .left {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 12px hsla(0, 0%, 0%, 0.13),
      0px 0px 1px hsla(0, 0%, 0%, 0.14);
    transition: transform 150ms;
    transform-origin: center;

    img {
      border-radius: 5px;
      width: 120px;
      aspect-ratio: 255 / 330;
    }

    a {
      text-decoration: none;
      border-bottom: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    a {
      text-decoration: none;
      border-bottom: none;
      transition: color 150ms;
      line-height: 1.3;

      &:hover {
        color: $blue-600;
      }

      &:active {
        color: $blue-800;
      }
    }
  }

  .paper-title {
    font-weight: 700;
    line-height: 1.3;
  }

  .paper-venue {
    font-style: italic;
    line-height: 1.3;
  }

  .paper-authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    line-height: 1.3;
  }
}

.article {
  $gh-background-color: #f6f8fa;
  $gh-btn-hover-bg: #f3f4f6;
  $gh-btn-hover-border: rgba(27, 31, 36, 0.15);
  $gh-btn-bg: #f6f8fa;
  $gh-btn-border: rgba(27, 31, 36, 0.15);
  $gh-btn-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
  $gh-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  $gh-btn-active-bg: hsla(220, 14%, 93%, 1);
  $gh-btn-active-border: rgba(27, 31, 36, 0.15);

  .bibtex-block {
    display: flex;
    grid-column: text-start / text-end;
    margin-top: 10px;
    position: relative;

    .bibtex {
      border-radius: 6px;
      padding: 20px;
      font-size: 0.85em;
      line-height: 1.45;
      overflow-x: auto;
      white-space: pre;
      font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
      color: #24292f;
      background-color: $gh-background-color;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .copy-button {
      position: absolute;
      top: 10px;
      right: 10px;
      gap: 4px;
      padding: 0 6px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      background-color: $gh-btn-bg;
      border: 1px solid $gh-btn-border;
      box-sizing: $gh-btn-shadow, $gh-btn-inset-shadow;
      border-radius: 6px;

      transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
      transition-property: background-color;
      animation: fade-in 200ms both;

      .copy-label {
        &.check {
          color: $green-600;
        }
      }

      .svg-icon {
        &.check {
          width: 16px;
          height: 16px;
          color: $green-600;
        }

        &.copy {
          width: 20px;
          height: 20px;
        }
      }

      &.hide {
        display: none;
      }

      &:hover {
        background-color: $gh-btn-hover-bg;
        border: 1px solid $gh-btn-hover-border;
      }

      &:active {
        background-color: $gh-btn-active-bg;
        border: 1px solid $gh-btn-active-border;
      }
    }
  }
}

.article-footer {
  background: $gray-900;
  color: white;
  padding: 2rem 0 2em 0;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;

  display: grid;
  grid-template-columns:
    [start] 1fr [long-start] calc((1000px - 78ch) / 2) [text-start] minmax(
      auto,
      78ch
    )
    [text-end] calc((1000px - 78ch) / 2) [long-end] 1fr [end];
}

.footer-main {
  grid-column: text-start / text-end;
  display: flex;
  max-width: 100ch;
  flex-direction: row;
}

.footer-cp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;

  :global(.svg-logo) {
    height: 100%;
    color: white;
    display: inline-flex;
    align-items: center;

    :global(svg) {
      height: 50px;
      width: unset;
    }
  }
}

@keyframes circling {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
