@import '../../define';

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5px);
  max-height: 800px;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
