@import '../../define';
@import 'ArticleText';

.article-page {
  display: flex;
  flex-direction: column;
}

.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5px);
  max-height: 820px;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;

  position: relative;
  // display: none;
}

.timbertrek-app {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

.timbertrek-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}

.dataset-options {
  width: 100%;
  padding-top: 2px;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: center;

  .option-title {
    color: $gray-600;
    cursor: default;
    margin-right: 15px;
  }

  .options {
    display: flex;
    gap: 12px;
    user-select: none;
    -webkit-user-select: none;
  }

  span.option {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: $font-u1;
    font-variant: small-caps;

    &::after {
      content: attr(data-text);
      content: attr(data-text) / '';
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-weight: 600;
    }
  }
  span.selected {
    text-decoration: underline;
    font-weight: 600;
  }
}
