@import '../../define';

$panel-h-padding: 16px;

.favorites-panel {
  display: none;
  flex-direction: column;
  align-items: center;

  width: 268px;
  min-height: 300px;

  border-radius: $border-radius;
  background-color: $gray-light-background;

  &.shown {
    display: flex;
  }
}

.header {
  height: $sidebar-header-height;
  width: 100%;
  flex-shrink: 0;

  background-color: $gray-800;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $gray-light-background;

  padding: 0px $panel-h-padding;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    cursor: default;
    user-select: none;
    -webkit-user-select: none;

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .svg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray-400;
        fill: $gray-400;
        cursor: pointer;
        pointer-events: fill;

        :global(svg) {
          width: 1rem;
          height: 1rem;
        }

        &.close-icon {
          :global(svg) {
            width: $font-u1;
            height: $font-u1;
          }
        }

        &:hover {
          color: $gray-50;
          fill: $gray-50;
        }

        &:active {
          color: white;
          fill: white;
        }
      }
    }
  }
}

.tree-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.tree-wrapper {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid change-color($gray-500, $alpha: 0.2);
}

.tree-placeholder {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$sidebar-header-height});
  top: $sidebar-header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $gray-600;
  padding: 19px;

  .tree-placeholder-text {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: fill;
    vertical-align: bottom;
    color: $gray-700;
    fill: $gray-700;

    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    margin-top: 1px;

    :global(svg) {
      width: 1rem;
      height: 1rem;
    }
  }
}
