@import '../../define';

$panel-h-padding: 16px;

.tree {
  display: flex;
  justify-content: flex-start;
  gap: 8px;

  padding: $panel-h-padding $panel-h-padding 0px $panel-h-padding;
  font-size: 14px;

  user-select: none;
  -webkit-user-select: none;

  .tree-left {
    flex-shrink: 0;
    display: flex;
  }

  .tree-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tree-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      line-height: 1;
      padding-bottom: 7px;

      .tree-info-left {
        display: flex;
        align-items: baseline;
        gap: 3px;

        .tree-name {
          font-weight: 600;
        }
      }

      .svg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $gray-500;
        cursor: pointer;
        pointer-events: fill;

        :global(svg) {
          width: 0.875rem;
          height: 0.875rem;
        }

        &:hover {
          color: $gray-800;
        }

        &:active {
          color: $gray-900;
        }
      }
    }

    .tree-note {
      border: 1px solid $gray-300;
      border-radius: 4px;

      transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border: 1px solid $gray-400;
      }

      .note-window-input {
        width: 100%;
        padding: 0.4em;
        margin: 0px;
        border-radius: 4px;

        border: none;
        outline: none;
        box-shadow: none;
        resize: none;

        font-size: 14px;
        color: $gray-700;
        background-color: $gray-light-background;
      }
    }
  }
}

.tree-svg {
  border: 1px solid $gray-300;
  border-radius: 4px;
  width: 70px;
  height: 70px;
  cursor: pointer;

  stroke-linecap: round;
  stroke-linejoin: round;

  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid $gray-400;
  }

  &:active {
    border: 1px solid $gray-500;
  }

  :global(path.link) {
    fill: none;
    stroke: $gray-600;
    stroke-width: 1px;
  }

  :global(.node rect) {
    fill: $gray-light-background;
    stroke: $gray-500;
    stroke-width: 1px;
  }

  :global(.node text) {
    fill: $gray-600;
    font-size: 10px;
    dominant-baseline: middle;
    text-anchor: middle;
  }
}
