@import '../../define';

.favorites-panel {
  display: none;
  flex-direction: column;
  align-items: center;

  width: 260px;
  min-height: 400px;
  max-height: $sunburst-width + $toolbar-height - 1px;

  border-radius: $border-radius;
  background-color: $gray-light-background;

  &.shown {
    display: flex;
  }
}

.header {
  height: $toolbar-height;
  width: 100%;

  background-color: $gray-800;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: $gray-light-background;

  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .svg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-400;
      cursor: pointer;
      pointer-events: fill;

      :global(svg) {
        width: 1.1rem;
        height: 1.1rem;
      }

      &:hover {
        color: $gray-50;
      }
    }
  }
}

.tree-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.tree-wrapper {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid change-color($gray-500, $alpha: 0.2);
}
