@import '../../define';

.favorites-panel {
  display: none;
  flex-direction: column;
  align-items: center;

  width: 250px;
  min-height: 400px;
  max-height: $sunburst-width + $toolbar-height - 1px;

  border-radius: $border-radius;
  border: 1px solid $gray-light-border;
  background-color: $gray-light-background;

  &.shown {
    display: flex;
  }
}

.header {
  height: $toolbar-height;
  width: 100%;
  border-bottom: 1px solid $gray-light-border2;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.tree-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.tree {
  display: flex;
  justify-content: flex-start;
  gap: 6px;

  padding: 10px 10px 0px 10px;
  font-size: 14px;

  .tree-left {
    flex-shrink: 0;
    display: flex;

    svg {
      border: 1px solid $gray-200;
      border-radius: 4px;
      width: 70px;
      height: 70px;
    }
  }

  .tree-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .tree-info {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 7px;

      .tree-name {
        font-weight: 600;
      }
    }

    .tree-note {
      border: 1px solid $gray-200;
      border-radius: 4px;

      .note-window-input {
        width: 100%;
        // height: 200px;
        padding: 0.4em;
        margin: 0px;

        border: none;
        outline: none;
        box-shadow: none;
        resize: none;

        font-size: 14px;
        color: $gray-700;
        background-color: $gray-light-background;
      }
    }
  }
}
