@import '../../define';

.toolbar {
  height: $toolbar-height;
  padding: 0px $panel-h-padding;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.07);
  background-color: $gray-50;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 0.92rem;
  line-height: 1;
}

.depths {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  color: $gray-800;

  .depth-label {
    margin-right: 6px;
  }

  .depth-box-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    position: relative;

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      width: 100%;
      border-bottom: 1px solid $gray-400;
      top: 50%;
      left: 0px;
    }
  }

  .depth-box {
    z-index: 2;
    flex-shrink: 0;

    width: 24px;
    height: 24px;
    border-radius: 5px;

    border: 1px solid $gray-300;
    background-color: $gray-50;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;

    transition: background-color 100ms ease-in-out, fill 100ms ease-in-out,
      color 100ms ease-in-out;

    &.in-range {
      background-color: adjust-color($color: white, $lightness: -12%);
      border: 1px solid $gray-400;
    }

    &:not(.no-hover):hover {
      background-color: adjust-color($color: white, $lightness: -7%);
    }

    &:active {
      background-color: adjust-color($color: white, $lightness: -12%);
    }
  }
}

.tools {
  display: flex;
  gap: 6px;
  flex-direction: row;

  .tool-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3px;

    border-radius: 5px;
    padding: 4px 5px;
    user-select: none;

    color: $gray-700;
    border: 1px solid $gray-300;
    background-color: $gray-50;

    transition: background-color 100ms ease-in-out, fill 100ms ease-in-out,
      color 100ms ease-in-out;

    &.shown {
      background-color: adjust-color($color: white, $lightness: -12%);
      border: 1px solid $gray-400;
    }

    &:hover {
      background-color: adjust-color($color: white, $lightness: -7%);
    }

    &:active {
      background-color: adjust-color($color: white, $lightness: -12%);
    }
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: currentColor;

  :global(svg) {
    width: 0.92em;
    height: 0.92em;
  }
}
