@import '../../define';

.toolbar {
  height: $toolbar-height;
  padding: 0px $panel-h-padding;
  border-bottom: 1px solid $gray-light-border2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 0.92rem;
  line-height: 1;
}

.depths {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
  color: $gray-800;
}

.depth-box {
  border: 1px solid $gray-300;
  width: 20px;
  height: 20px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.tools {
  display: flex;
  gap: 3px;
  flex-direction: row;
}

.tool-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  border-radius: 5px;
  padding: 4px 5px;
  user-select: none;

  color: $gray-700;
  // border: 1px solid $gray-300;

  transition: background-color 100ms ease-in-out, fill 100ms ease-in-out, color 100ms ease-in-out;

  &:hover {
    background-color: $gray-200;
  }

  &:active {
    color: adjust-color($color: $gray-700, $lightness: -20%);
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: currentColor;

  :global(svg) {
    width: 1em;
    height: 1em;
  }
}