@import '../../define';

.toolbar {
  height: $toolbar-height;
  padding: 0px $panel-h-padding;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.07);
  background-color: $gray-50;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  font-size: 0.92rem;
  line-height: 1;
}

$depth-box-width: 24px;

.depths {
  display: flex;
  flex-shrink: 0;
  min-width: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;

  color: $gray-800;

  .depth-label {
    min-width: 0px;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .depth-box-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    position: relative;
    flex-shrink: 0;

    .depth-box-lines {
      display: flex;
      z-index: 2;
      position: absolute;
      top: 2px;
      left: $depth-box-width - 1px;
      width: calc(100% - #{$depth-box-width * 2} + 2px);
      height: 50%;
      pointer-events: none;

      .depth-line {
        flex: 1 0 auto;

        &.in-range {
          border-bottom: 3px solid $gray-500;
        }
      }
    }

    &::after {
      position: absolute;
      z-index: 1;
      content: '';
      width: 100%;
      border-bottom: 1px solid $gray-300;
      top: 50%;
      left: 0px;
    }
  }

  .depth-box {
    z-index: 3;
    flex-shrink: 0;

    width: $depth-box-width;
    height: $depth-box-width;
    border-radius: 5px;

    border: 1px solid $gray-300;
    background-color: $gray-50;

    color: $gray-900;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    transition: background-color 100ms linear, color 100ms linear,
      fill 100ms linear, color 100ms linear;

    &.in-range {
      background-color: adjust-color($color: white, $lightness: -12%);
      border: 1px solid $gray-400;
    }

    &:not(.no-hover):hover {
      background-color: adjust-color($color: white, $lightness: -7%);
    }

    &:active {
      background-color: adjust-color($color: white, $lightness: -12%);
    }
  }
}

.tools {
  display: flex;
  gap: 6px;
  flex-direction: row;
  flex-shrink: 2;
  min-width: 0px;

  .tool-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;

    flex-shrink: 1;
    min-width: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border-radius: 5px;
    padding: 4px 5px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    color: $gray-700;
    border: 1px solid $gray-300;
    background-color: $gray-50;

    transition: background-color 100ms linear;

    .button-text {
      flex-shrink: 1;
      min-width: 0px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &.no-display {
        display: none;
      }
    }

    &.shown {
      background-color: adjust-color($color: white, $lightness: -12%);
      border: 1px solid $gray-400;
    }

    &:hover {
      background-color: adjust-color($color: white, $lightness: -7%);
    }

    &:active {
      background-color: adjust-color($color: white, $lightness: -12%);
    }
  }
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: currentColor;
  position: relative;

  :global(svg) {
    width: 0.92em;
    height: 0.92em;
  }

  .hidden-heart {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $red-400;
    color: $red-400;

    opacity: 0;
    transform: scale(0);
    transform-origin: center 90%;

    :global(svg) {
      width: 0.92em;
      height: 0.92em;
    }

    &.pulse {
      animation: heart-pulse 600ms 300ms infinite;
    }
  }
}

@keyframes heart-pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1);
  }
}
