@import '../../define';

.timbertrek-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timbertrek-page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $gray-light-border;

  $rect-width: 1px;
  $rect-gap: 25px;
  background-image: linear-gradient(
      $gray-200 $rect-width,
      transparent $rect-width
    ),
    linear-gradient(to right, $gray-200 $rect-width, white $rect-width);
  background-size: $rect-gap $rect-gap;
}

.timbertrek {
  border: 1px solid $gray-light-border;
  background: $gray-light-background;
  border-radius: $border-radius;
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.03),
    0px 0px 10px hsla(0, 0%, 0%, 0.05);

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $gray-light-border;
  padding: 0px $panel-h-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  background-color: $gray-800;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .right-icons {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    flex-shrink: 0;
  }

  .svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: $gray-200;
    color: $gray-200;
    transition: fill 100ms $ease-cubic-in-out;
    cursor: pointer;
    pointer-events: fill;
    margin-top: 2px;

    :global(svg) {
      height: 19px;
    }

    &:hover {
      fill: $gray-500;
      color: $gray-500;
    }

    &:active {
      fill: $gray-600;
      color: $gray-600;
    }

    &.paper-icon {
      margin-top: 1px;
      :global(svg) {
        height: 15px;
        width: 12px;
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  min-width: 0px;
  flex-shrink: 1;

  .svg-icon {
    margin: 0;
    cursor: default;
    fill: unset;

    transform: rotate(0deg);
    animation: circling 3000ms linear 0ms infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    &:hover {
      animation-play-state: running;
    }

    :global(svg) {
      width: 24px;
      height: 24px;
    }
  }
}

.logo-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  gap: 6px;
  min-width: 0px;
  flex-shrink: 1;

  .logo-icon {
    font-size: 1.1rem;
    font-weight: 600;
    color: $gray-50;
  }

  .logo-tag {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-300;
    min-width: 0px;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &.no-display {
      display: none;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
}

.sunburst-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.sidebar {
  position: absolute;
  right: -2px;
  top: $header-height + $sidebar-y-gap;
  transform: translateX(calc(100% - 2px));

  // clip-path: inset(0px 0px 0px -15px);
  box-shadow: 0px 0px 3px 0px hsla(0, 0%, 0%, 0.07),
    0px 0px 10px 0px hsla(0, 0%, 0%, 0.12);
  border-radius: $border-radius;
}

.dev-bar {
  position: absolute;
  bottom: 5px;
  right: 5px;

  .button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3px;

    border-radius: 5px;
    padding: 0px 5px;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    color: $gray-700;
    font-size: 0.9rem;
    border: 1px solid $gray-300;
    background-color: $gray-50;

    transition: background-color 100ms ease-in-out, fill 100ms ease-in-out,
      color 100ms ease-in-out;

    &:hover {
      background-color: adjust-color($color: white, $lightness: -7%);
    }

    &:active {
      background-color: adjust-color($color: white, $lightness: -12%);
    }
  }
}

.pinned-tree-window-wrapper {
  z-index: 1;
}

@keyframes circling {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
