@import '../../define';

.sunburst {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-tree-message {
  position: absolute;
  width: 100%;
  height: 100%;

  display: none;
  gap: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray-700;
  background-color: $gray-light-background;

  animation-name: fade-in;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  &.show {
    display: flex;
  }
}

.sunburst {
  :global(.arc.highlighted) {
    stroke: $gray-light-background;
    stroke-width: 2px;
  }

  :global(.arc.leaf.highlighted) {
    fill: adjust-color($color: $gray-300, $lightness: -6%);
  }

  :global(.arc.leaf) {
    fill: $gray-300;
  }

  :global(.arc.leaf.same-leaf-highlight) {
    fill: adjust-color($color: $gray-300, $lightness: -5%);
  }

  :global(.text-arc) {
    visibility: hidden;
    stroke: $red-800;
    fill: none;
  }

  :global(.text-line) {
    visibility: hidden;
    stroke: $teal-800;
    fill: none;
  }

  :global(text.feature-name) {
    text-anchor: middle;
    font-family: 'Lato';
    line-height: 1;
    color: $gray-900;

    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    pointer-events: none;

    animation-name: fade-in;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    :global(textPath) {
      dominant-baseline: middle;
    }
  }

  :global(g.mid-circle-group) {
    :global(circle) {
      transition: transform 300ms ease-in-out;
      stroke: $gray-light-background;
      stroke-width: 1px;
    }

    :global(path.mid-circle-text-arc) {
      fill: none;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stat-overlay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;

  position: absolute;
  left: 0px;
  bottom: 0px;

  user-select: none;
  -webkit-user-select: none;

  text-align: start;
  font-size: 0.85rem;
  font-variant-numeric: tabular-nums;
  line-height: 1;

  padding: 4px 6px 5px 6px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: change-color($color: $gray-200, $alpha: 0.5);
  color: $gray-700;
}
