@import '../../define';

.sunburst {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sunburst :global(.arc.leaf) {
  fill: $gray-300;
}
