@import '../../define';

.tree-window {
  position: absolute;
  z-index: 2;

  background-color: $gray-light-background;
  border-radius: $border-radius;
  box-shadow: $shadow-border-light;

  display: none;
  flex-direction: column;
  align-items: center;

  &.show {
    display: flex;
  }
}

.tree-header {
  width: 100%;
  padding: 2px 10px;
  height: 26px;

  font-size: 0.9rem;
  text-align: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  color: $gray-700;
  background-color: $gray-200;

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 3px;

  .tree-name {
    font-weight: 600;
  }
}

.content {
  display: flex;
  position: relative;
}

.label-container {
  position: absolute;
  overflow: hidden;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: 1;

  &.no-display {
    display: none;
  }
}

.label {
  position: absolute;
  // top: 8px;
  // right: -30px;
  // width: 90px;
  // transform: rotate(45deg);

  top: 4px;
  right: 0px;

  padding: 1px 5px 1px 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-align: center;

  font-size: 0.9rem;
  line-height: 1;
  color: $indigo-600;
  background-color: change-color($color: $indigo-100, $alpha: 0.3);
  // background-color: change-color($color: $indigo-100, $alpha: 0.7);

  .svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $indigo-600;

    :global(svg) {
      width: 1rem;
      height: 1rem;
    }
  }
}

.tree-svg {
  stroke-linecap: round;
  stroke-linejoin: round;

  :global(path.link) {
    fill: none;
    stroke: $gray-700;
    stroke-width: 1px;
  }

  :global(path.link.highlighted) {
    stroke-width: 2px;
    stroke: $gray-600;
    stroke-dasharray: 2px 5px;
    animation: dash 60s infinite linear;
  }

  :global(.node rect) {
    fill: $gray-light-background;
    stroke: $gray-700;
    stroke-width: 1px;
  }

  :global(.node text) {
    fill: $gray-700;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  :global(text.split-label) {
    text-anchor: start;
    dominant-baseline: auto;
    fill: $gray-700;
    font-weight: 300;
    font-size: 0.8rem;
  }

  :global(text.split-label.split-label-left) {
    text-anchor: end;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}
